/* Importer
-----------------------------------------------------------------*/
.trx_importer {
	overflow:hidden;
}
.trx_importer_section {
	width: 48%;
	float:left;
	border: 2px groove #e0e0e0;
	margin: 2em 0 0 0;
	padding: 1em 2em 2em;
}
.trx_exporter_section {
	width: 48%;
	float:right;
	border: 2px groove #e0e0e0;
	margin: 2em 2em 0 0;
	padding: 1em 2em 2em;
}
.trx_importer_section,
.trx_exporter_section {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
@media (max-width: 781px) {
	.trx_importer_section,
	.trx_exporter_section {
		width: 98%;
		float:none;
		margin-left:0;
	}
}
.trx_exporter_error {
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 1em 0;
}

#trx_importer_form .import_posts_params {
	display:block;
	margin-top:0.5em;
}

.trx_importer_hidden {
	display:none;
}
.trx_importer_demo_set > label {
	margin-top: 0.5em;
	text-transform:uppercase;
}
.trx_importer_description {
	font-style:italic;
	color: #888;
}
.trx_importer_description li + li {
	margin-top: 0.2em;
}
.trx_importer_description b {
	color: #000;
	font-weight:400;
	border-bottom: 1px dashed #000;
	display:inline-block;
	line-height: inherit;
}
.trx_importer_separator {
	margin-bottom: 1em;
}
.trx_importer .trx_buttons {
	margin-top: 1em;
}
.trx_importer li {
	margin-top: 0;
	margin-bottom: 0;
}
.trx_importer label {
	display: block;
}

.trx_importer_part_pages {
	max-height: 10em;
	overflow-y: scroll;
	overflow-x: hidden;
	margin:0 0 1em 2em;
}

#trx_importer_progress {
	display:none;
	margin:0;
}
#trx_importer_progress > table {
	margin-bottom: 2em;
}
#trx_importer_progress .trx_importer_progress_complete {
	display:none;
	color: #129611;
}
#trx_importer_progress .import_progress_status {
	background-position:center;
	background-repeat:no-repeat;
}
#trx_importer_progress.style_1 .import_progress_status {
	width: 80px;
	text-align:right;
	background-size:15px 15px;
}
#trx_importer_progress.style_2 .import_progress_status {
	width: 160px;
	text-align:center;
}
#trx_importer_progress.style_1 .import_progress_status.step_in_progress {
	background-image:url(images/ajax-loader.gif);
}
#trx_importer_progress.style_2 .import_progress_status.step_in_progress {
	background-image:url(images/ajax-loader-2.gif);
}
#trx_importer_progress .import_progress_status.step_complete {
	background-image:url(images/accept.png);
}
#trx_importer_progress .import_progress_status.step_complete_with_error {
	background-image:url(images/error.png);
}
